<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Junkspace options</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>stars</string>
			<key>Title</key>
			<string>show stars</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>horizon</string>
			<key>Title</key>
			<string>show horizon</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Move slider left to hide some debris and increase the frame rate.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>100</integer>
			<key>Key</key>
			<string>faster</string>
			<key>MaximumValue</key>
			<integer>100</integer>
			<key>MaximumValueImage</key>
			<string></string>
			<key>MinimumValue</key>
			<integer>50</integer>
			<key>MinimumValueImage</key>
			<string></string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
